@import 'tailwindcss';
@import 'fumadocs-ui/css/generated/glass.css';
@import 'fumadocs-ui/css/black.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --font-sans: 'neue-haas-grotesk-text', ui-sans-serif, system-ui, sans-serif;
}

#nd-sidebar > div:first-child {
  align-items: center;
}

#nd-sidebar > div:first-child > div {
  margin-top: 0;
}
