:root {
  --blue-300: #3fa8ff;
  --blue-500: #0a84ff;
  --blue-600: #007aff;
  --blue-400: #3d9bff;
  --blue-700: #0064d2;
  --blue-800: #005cdf;
  --green-500: #32d74b;
  --green-600: #28cd41;
  --green-700: #1a9e33;
  --green-800: #127d25;
  --green-900: #0f6e20;
  --orange-500: #ff9f0a;
  --orange-600: #ff9500;
  --purple-400: #dd79ff;
  --purple-500: #bf5af2;
  --purple-600: #af52de;
  --purple-700: #9637c4;
  --teal-500: #40c8e0;
  --teal-600: #30b0c7;
  --teal-700: #17869b;
  --teal-800: #006f84;
  --red-200: #ffa399;
  --red-300: #ff7a70;
  --red-500: #ff453a;
  --red-600: #ff3b30;
  --red-700: #d70015;
  --red-800: #ce0008;
  --red-900: #c40008;
  --yellow-500: #ffd60a;
  --yellow-600: #c79000;
  --yellow-700: #a37400;
  --yellow-800: #7a5600;
  --amber-400: #ffc85c;
  --amber-500: #ffb02e;
  --amber-600: #c27a00;
  --amber-700: #946200;
  --coral-300: #ff9a86;
  --coral-400: #ff8068;
  --coral-500: #ff664f;
  --coral-600: #e7553f;
  --coral-700: #bf3e2f;
  --coral-800: #963126;
  --pink-300: #ff91d4;
  --pink-400: #ff72c4;
  --pink-500: #f252ad;
  --pink-600: #d63d93;
  --pink-700: #ad2d75;
  --pink-800: #86235b;

  --indigo-500: #7d7aff;
  --indigo-600: #5e5ce6;
  --slate-200: #aebbcb;
  --slate-300: #9aa6b5;
  --slate-600: #5b6472;
  --slate-700: #454e5c;
  --lime-400: #a3e635;
  --lime-700: #4d7c0f;
  --bronze-300: #ddb684;
  --bronze-400: #cfa168;
  --bronze-600: #9c7433;
  --bronze-700: #8a5c2e;

  --white: #ffffff;
  --white-a92: rgb(255 255 255 / 92%);
  --white-a90: rgb(255 255 255 / 90%);
  --white-a58: rgb(255 255 255 / 58%);
  --white-a55: rgb(255 255 255 / 55%);
  --white-a45: rgb(255 255 255 / 45%);
  --white-a28: rgb(255 255 255 / 28%);
  --white-a13: rgb(255 255 255 / 13%);
  --white-a18: rgb(255 255 255 / 18%);
  --white-a08: rgb(255 255 255 / 8.5%);
  --white-a06: rgb(255 255 255 / 5.5%);

  --black-a88: rgb(0 0 0 / 88%);
  --black-a56: rgb(0 0 0 / 56%);
  --black-a52: rgb(0 0 0 / 52%);
  --black-a45: rgb(0 0 0 / 45%);
  --black-a42: rgb(0 0 0 / 42%);
  --black-a28: rgb(0 0 0 / 28%);
  --black-a18: rgb(0 0 0 / 18%);
  --black-a16: rgb(0 0 0 / 16%);
  --black-a09: rgb(0 0 0 / 9%);
  --black-a06: rgb(0 0 0 / 5.5%);
  --black-a04: rgb(0 0 0 / 4%);

  --blue-a08: rgb(0 122 255 / 8%);
  --blue-a16: rgb(10 132 255 / 16%);

  --gray-50: #f9f9fb;
  --gray-75-a80: rgb(246 246 250 / 80%);
  --gray-100: #f4f4f6;
  --gray-200: #e9e9eb;
  --gray-700: #48484a;
  --gray-800: #39393d;
  --gray-850: #2e2e33;
  --gray-900: #28282c;
  --gray-925-a92: rgb(30 30 33 / 92%);
  --gray-925-a82: rgb(30 30 34 / 82%);
  --gray-950: #1c1c1e;
}
